.envelope {
	position: relative;
	width: 1000px;
	height: 600px;
	border: 1px solid #000;
	margin: 0 auto;
}

.sender {
	position: absolute;
	left: 5px;
	top: 15px;
	font-weight: bolder;
}

.receiver {
	position: absolute;
	top: 300px;
	left: 250px;
	font-weight: bolder;
}

.stamp {
	position: absolute;
	top: 15px;
	right: 5px;
	border: 2px solid #000;
	height: 150px;
	width: 150px;
}

.stamp * {
	transform: rotate(-45deg);
}
